body{
    background-color: black;
}

.objects{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    width: 1200px;
    margin: auto;
}

.object {
    position: relative;
    width: 400px;
    height: 400px;
}

.object-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: white;
}

a:visited {
    color: white;
}


